@import "tailwindcss";
@font-face {
  font-family: "Montserrat";
  src: url("/montserrat.ttf") format("truetype");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-primary: #003151;
}

@layer utilities {
  .text-titles {
    @apply text-[32pt] font-semibold;
  }

  .text-titles-2 {
    @apply text-[18pt] md:text-[24pt];
  }

  .text-subtitles {
    @apply text-[14pt];
  }

  .text-paragraphs {
    @apply text-[12pt];
  }

  .mx-layout {
    @apply mx-5 md:mx-12.5 lg:mx-37.5;
  }
}
