@import "tailwindcss";
@font-face {
  font-family: "Montserrat";
  src: url("/montserrat.ttf") format("truetype");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .text-titles {
    @apply text-[32pt] font-semibold;
  }

  .text-titles-2 {
    @apply text-[18pt] md:text-[24pt];
  }

  .text-subtitles {
    @apply text-[14pt];
  }

  .text-paragraphs {
    @apply text-[12pt];
  }

  .mx-layout {
    @apply mx-5 md:mx-8 lg:mx-18;
  }

  .text-primary {
    background: linear-gradient(to right, #010101, #3732cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .bg-primary {
    background: linear-gradient(to right, #010101, #3732cc);
  }
}
