---
import "@/styles/animations.css";
import { CONTACT_EMAIL, CONTACT_PHONE } from "@/utils/global_variables";
---

<footer class="bg-primary mt-10 text-white">
  <div class="mx-5 flex flex-col md:mx-12.5 lg:mx-37.5">
    <div
      class="flex flex-col items-center justify-between space-y-4 py-4 md:flex-row"
    >
      <img
        src="/logo-horizontal-white.png"
        alt="Logo RBC"
        class="hidden h-25 md:block"
      />
      <img
        src="/logo-vertical-white.png"
        alt="Logo RBC"
        class="h-25 md:hidden"
      />
      <div class="flex flex-col space-y-4 text-center md:text-left">
        <p class="text-xs font-semibold">Contáctanos</p>
        <a
          href=`mailto:${CONTACT_EMAIL}`
          target="_blank"
          class="fancy-underline flex flex-col items-center gap-2 text-xs md:flex-row"
        >
          <img src="/icons/mail.svg" alt="Mail icon" />
          {CONTACT_EMAIL}
        </a>
        <a
          href=`tel:${CONTACT_PHONE.value}`
          target="_blank"
          class="fancy-underline flex flex-col items-center gap-2 text-xs md:flex-row"
        >
          <img src="/icons/phone.svg" alt="Phone icon" />
          {CONTACT_PHONE.string}
        </a>
      </div>
    </div>
    <div
      id="copyright-footer"
      class="border-t border-white py-4 text-xs font-light"
    >
    </div>
  </div>
</footer>

<script>
  const copyright = document.getElementById("copyright-footer");

  if (copyright) {
    copyright.innerHTML = `© ${new Date().getFullYear()} RBC PROYECTOS`;
  }
</script>
