---
import "@/styles/animations.css";
---

<nav class="bg-primary top-0 z-80 w-full h-auto text-white text-xs">
    <div class="flex flex-row justify-between items-center p-0 mx-layout">
        <img src="/logo-vertical-white.png" alt="Logo rbc" class="md:hidden w-auto h-[48px]">
        <img src="/logo-horizontal-white.png" alt="Logo rbc" class="hidden md:flex w-auto h-[48px]">
        <div class="flex flex-row gap-20 hidden md:flex">
            <a href="#sobre-nosotros" class="fancy-underline">Sobre Nosotros</a>
            <a href="#servicios" class="fancy-underline">Servicios</a>
            <a href="#contacto" class="fancy-underline">Contáctanos</a>
        </div>
        <button id="menu-btn" class="md:hidden"><img src="/icons/hamburguer.svg" alt="Menu Icon"></button>
    </div>

    <div id="mobile-menu"
     class="fixed top-0 left-0 w-full h-full bg-primary text-white transform -translate-x-full text-center transition-transform duration-300 ease-in-out z-40 flex flex-col items-center justify-between space-y-6 md:hidden">
        <img src="/logo-horizontal-white.png" alt="Logo rbc" class="w-[224px] h-auto mt-10">
        <div class="flex flex-col space-y-6 text-center">
            <a href="#sobre-nosotros" class="mobile-link text-lg fancy-underline">Sobre Nosotros</a>
            <a href="#servicios" class="mobile-link text-lg fancy-underline">Servicios</a>
            <a href="#contacto" class="mobile-link text-lg fancy-underline">Contacto</a>
        </div>
        <button id="close-menu" class="mb-10"><img src="/icons/x.svg" alt="Botón salir"></button>
        <div class="flex flex-col space-y-4 mb-5">
            <div class="flex items-center justify-center gap-2 flex-wrap">
                <a href="mailto:rafaelbonillacontreras@gmail.com" target="_blank" rel="noopener noreferrer" class="gap-1 text-xs flex items-center"><img src="/icons/mail.svg" alt="Mail icon"> rafaelbonillacontreras@gmail.com </a>
                <a href="tel:50370186602" target="_blank" rel="noopener noreferrer" class="gap-1 text-xs flex items-center"><img src="/icons/phone.svg" alt="Phone icon"> +503 7018 6602 </a>
            </div>
            <p id="copyright-mobile-menu" class="text-white font-light"></p>
        </div>
    </div>
</nav>

<script>
    const menu = document.getElementById('mobile-menu');
    const openBtn = document.getElementById('menu-btn');
    const closeBtn = document.getElementById('close-menu');
    const copyright = document.getElementById('copyright-mobile-menu');
    const mobileLinks = menu?.querySelectorAll('.mobile-link');

    mobileLinks?.forEach(link => {
        link.addEventListener('click', () => {
            menu.classList.add('-translate-x-full');
        });
    });

  
    openBtn?.addEventListener('click', () => {
      menu?.classList.remove('-translate-x-full');
    });
  
    closeBtn?.addEventListener('click', () => {
      menu?.classList.add('-translate-x-full');
    });

    copyright.innerText = `© ${new Date().getFullYear()} RBC PROYECTOS.`;
 </script>
  