---
import "@/styles/animations.css";
import { CONTACT_EMAIL, CONTACT_PHONE } from "@/utils/global_variables";
---

<nav class="bg-primary top-0 z-80 h-auto w-full text-xs text-white">
  <div class="mx-layout flex flex-row items-center justify-between p-0">
    <img src="/logo-vertical-white.png" alt="Logo rbc" class="h-12 w-auto md:hidden" />
    <img src="/logo-horizontal-white.png" alt="Logo rbc" class="hidden h-12 w-auto md:flex" />
    <div class="hidden flex-row gap-10 md:flex">
      <a href="#sobre-nosotros" class="fancy-underline">Sobre Nosotros</a>
      <a href="#servicios" class="fancy-underline">Servicios</a>
      <a href="#contacto" class="fancy-underline">Contáctanos</a>
    </div>
    <button id="menu-btn" class="md:hidden"><img src="/icons/hamburguer.svg" alt="Menu Icon" /></button>
  </div>

  <div
    id="mobile-menu"
    class="bg-primary fixed top-0 left-0 z-40 flex h-full w-full -translate-x-full transform flex-col items-center justify-between space-y-6 text-center text-white transition-transform duration-300 ease-in-out md:hidden"
  >
    <img src="/logo-horizontal-white.png" alt="Logo rbc" class="mt-10 h-auto w-56" />
    <div class="flex flex-col space-y-6 text-center">
      <a href="#sobre-nosotros" class="mobile-link fancy-underline text-lg">Sobre Nosotros</a>
      <a href="#servicios" class="mobile-link fancy-underline text-lg">Servicios</a>
      <a href="#contacto" class="mobile-link fancy-underline text-lg">Contacto</a>
    </div>
    <button id="close-menu" class="mb-10"><img src="/icons/x.svg" alt="Botón salir" /></button>
    <div class="mb-5 flex flex-col space-y-4">
      <div class="flex flex-wrap items-center justify-center gap-2">
        <a
          href=`mailto:${CONTACT_EMAIL}`
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-1 text-xs"
        >
          <img src="/icons/mail.svg" alt="Mail icon" />
          {CONTACT_EMAIL}
        </a>
        <a
          href=`tel:${CONTACT_PHONE.value}`
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-1 text-xs"
        >
          <img src="/icons/phone.svg" alt="Phone icon" />
          {CONTACT_PHONE.string}
        </a>
      </div>
      <p id="copyright-mobile-menu" class="font-light text-white"></p>
    </div>
  </div>
</nav>

<script>
  const menu = document.getElementById("mobile-menu");
  const openBtn = document.getElementById("menu-btn");
  const closeBtn = document.getElementById("close-menu");
  const copyright = document.getElementById("copyright-mobile-menu");
  const mobileLinks = menu?.querySelectorAll(".mobile-link");

  mobileLinks?.forEach((link) => {
    link.addEventListener("click", () => {
      menu?.classList.add("-translate-x-full");
    });
  });

  openBtn?.addEventListener("click", () => {
    menu?.classList.remove("-translate-x-full");
  });

  closeBtn?.addEventListener("click", () => {
    menu?.classList.add("-translate-x-full");
  });

  if (copyright) {
    copyright.innerText = `© ${new Date().getFullYear()} RBC PROYECTOS.`;
  }
</script>
