---
import LayoutMD from "@/layouts/LayoutMD.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("proyectos");
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<LayoutMD>
  <!-- Header -->
  <div slot="header" class="flex flex-col gap-4 md:flex-row md:gap-10">
    <div class="h-auto w-full md:w-[40%]">
      <img src={project.data.image} alt={project.slug} class="h-full w-full object-cover" />
    </div>
    <div class="flex w-full flex-col justify-center md:w-[60%]">
      <h1>{project.data.title}</h1>
      <div class="flex items-center gap-6">
        <p class="flex items-center gap-2">
          <i class="inline-flex w-[30%] items-center"><img src="/icons/calendar.svg" alt="calendar icon" /></i>{
            project.data.duration
          }
        </p>
        <p class="flex items-center gap-2">
          <i class="inline-flex w-[20%] items-center"><img src="/icons/location.svg" alt="location icon" /></i>{
            project.data.location
          }
        </p>
      </div>
      <p>
        {project.data.description}
      </p>
    </div>
  </div>
  <Content slot="content" />
</LayoutMD>
